.calculator{
    width: 30vw;
    height :70vh;
    border: 1px solid rgb(86, 86, 226);
    margin:auto;
    position: relative;
    top: 100px;
    display:grid ;
    padding: 10px;
     gap: 3%;
}
.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.calculator>.form-group>button{
    width: 25%;
    font-size: 20 px;
    border:none;
    border-radius: 3px;

}
.calculator>.form-group>button:hover{
    background-color: rgb(90, 89, 89);
}
.calculator>.form-group>input{
    width: 100%;
    font-size: 40 px;
    border: 2px solid rgb(218, 221, 39);
    text-align: left;
    outline: none;
    border-radius: 5px;
    padding-right:10px ;

}
.colrt{
    color: aliceblue;
    background-color: rgb(21, 154, 237);
    font-size: 30px;
}
.calculator>.form-group>button.colrt:hover{
    background-color: rgb(89, 132, 218);
}