*{
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: #256acc;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8ca7e7;
    min-height: 100vh;
}

.calculator {
    width: 90vw;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    gap: 12px;
    box-shadow: 0px 4px 20px rgba(2, 2, 2, 0.2);
}

.calculator > input {
    width: 100%;
    height: 90px;
    font-size: 2.5rem;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    text-align: right;
    background: #f9f9f9;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.form-group button {
    padding: 20px;
    font-size: 1.4rem;
    border: none;
    border-radius: 10px;
    background: #e5e5e5;
    transition: 0.2s;
}

.form-group button:hover {
    background: #525353;
}

.form-group button.colrt {
    background-color: #1a73e8 !important;
    color: white !important;
}

.form-group button.colrt:hover {
    background-color: #505152;
}
